# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Build files
dist/
build/

# Coverage
coverage/

# VS Code
.vscode/

# Mac system files
.DS_Store